<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="e-Case Tracker"
        android:enableOnBackInvokedCallback="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECaseTracker"
        tools:targetApi="31">
        <activity
            android:name=".ForgotActivity"
            android:parentActivityName=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.ECaseTracker"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".CaseDetailsActivity"
            android:exported="false"></activity>
        <activity android:name=".CaseCategorieActivity"
            android:exported="false"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/InfinityWallsAvi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>